In [3]:
d = {'key1' :'Manaswi' , 'key2' : 123}

In [4]:
print(d)

{'key1': 'Manaswi', 'key2': 123}

dictionaries behave as a hash table  , they hold elements as keys

In [5]:
d['key1']

'Manaswi'

In [7]:
d['key2']

123

In [8]:
d= {'k1':{'innerkey' : [1,2,3]}}

In [9]:
d['k1']['innerkey']

[1, 2, 3]

In [10]:
d['k1']['innerkey'][1]

2

In [11]:
True

True

In [12]:
False

False

In [13]:
my_list = [1,2,3,4]

In [14]:
tuple = (1,2,3)
tuple[0]

1

tuples are immutable
they dont support item assignment

In [15]:
{1,2,3,3,3,3,4,4,5,5,11,22,1,2,2}

{1, 2, 3, 4, 5, 11, 22}

In [16]:
set([1,2,3,3,3,3,4,4,5,5,11,22,1,2,2])

{1, 2, 3, 4, 5, 11, 22}

In [17]:
if(2>1):
    print("hiii")

hiii

In [19]:
if 2>1:
    print('hi')

hi

In [22]:
if 2>3:
    print('hiii')
elif(3==3):
    print('hello')
else: print ("morning")

hello

In [23]:
seq = [1,2,3,4,5]
for item in seq:
    print(item)

1
2
3
4
5

In [25]:
i =1
while i<5:
    print('i is {}'.format(i))
    i= i+1

i is 1
i is 2
i is 3
i is 4

In [3]:
for x in range(0,5):
    print( x)

0
1
2
3
4

In [5]:
 list (range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

list comphrehension

In [ ]:
list1 = [1,2,3,4,5]

In [9]:

x = []
for num in list1:
    x.append(num**2)
print(x)

[1, 4, 9, 16, 25]

In [10]:
[num**2 for num in list1]

[1, 4, 9, 16, 25]

In [ ]:
def my_func(name):
    print('hello '+name)

In [13]:

my_func('Manaswi')

helloManaswi

In [14]:
def mul(x,y):
    return x*y
out = mul(89,10)
out

890

whenever we pass """  """ inside a function it will not be shown while we run a function but it will help to view a function as documentation and can be done by entering just function name and pressing shift+tab

In [15]:
def square(x):
    """
    this ia a sqaure function .
    it will return square of given num
    you should know this
    """
    return x**2
square(3)

9

In [ ]:
square

In [16]:
#map() function 
def times2(var):
    return var*2
seq = [1,2,3,4,5]

map(times2, seq)

In [17]:
#map() function 
def times2(var):
    return var*2
seq = [1,2,3,4,5]

list(
map(times2, seq))

[2, 4, 6, 8, 10]

In [18]:
lambda var : var*2

In [19]:
print(lambda var : var*2)

<function <lambda> at 0x0000021620829A60>

In [20]:
t= lambda var : var*2
t(2)

4

In [21]:
seq = [1,2,3,4,5]
list(map(lambda var : var*3 , seq))

[3, 6, 9, 12, 15]

In [1]:
seq = [1,2,3,4,5]

In [2]:
map(lambda var:var*4,seq)

In [3]:
list(map(lambda var:var*4,seq))

[4, 8, 12, 16, 20]

In [4]:
list(filter(lambda num: num%2==0,seq))

[2, 4]

In [5]:
s = 'Hello , my name is manaswi '

In [6]:
s.lower()

'hello , my name is manaswi '

In [7]:
s.split()

['Hello', ',', 'my', 'name', 'is', 'manaswi']

In [8]:
s.upper()

'HELLO , MY NAME IS MANASWI '

In [9]:
tweet = 'Hurray.... christmax offer #Christmax'

In [11]:
tweet.split('#')

['Hurray.... christmax offer ', 'Christmax']

In [13]:
tweet.split('#')[1]

'Christmax'

In [14]:
d = {'k1':'manaswi' , 'k2':'chetan'}

In [15]:
d.items()

dict_items([('k1', 'manaswi'), ('k2', 'chetan')])

In [16]:
d.keys()

dict_keys(['k1', 'k2'])

In [17]:
d.values()

dict_values(['manaswi', 'chetan'])

In [18]:
lst = [1,2,3,4,5]

In [22]:
lst.insert(5,6)

In [23]:
lst

[1, 2, 3, 4, 6, 6, 5]

In [24]:
lst.pop()

5

In [25]:
lst.reverse()

In [26]:
lst

[6, 6, 4, 3, 2, 1]

In [28]:
'x' in [1,2,3,4,5]

False

In [29]:
'x' in ['a','x','z']

True

# tuple unpacking

In [30]:
x = [(1,2),(3,4),(5,6)]

In [31]:
x

[(1, 2), (3, 4), (5, 6)]

In [32]:
for item in x:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [33]:
for a,b in x :
    print(a)

1
3
5

In [34]:
for a,b in x :
    print(b)

2
4
6

In [35]:
for a,b in x :
    print(a,b)

1 2
3 4
5 6

In [36]:
seq = ['soup','dog','salad','cat','great']

In [37]:
list(filter(lambda str :str.startswith('s') ,seq))

['soup', 'salad']