Label encoding  : Label Encoding also termed as Ordinal Encoding is used when the underlying feature has ordinal data meaning the order of the values is important. Hence, the encoding should reflect the sequence. numbering as per alphabetical order .

In [1]:
import numpy as np
import pandas as pd

In [2]:
df =  pd.read_csv('Fish.csv')

In [3]:
df.head()

  Species  Length1  Length2  Length3   Height   Width  Weight
0   Bream     23.2     25.4     30.0  11.5200  4.0200   242.0
1   Bream     24.0     26.3     31.2  12.4800  4.3056   290.0
2   Bream     23.9     26.5     31.1  12.3778  4.6961   340.0
3   Bream     26.3     29.0     33.5  12.7300  4.4555   363.0
4   Bream     26.5     29.0     34.0  12.4440  5.1340   430.0

In [5]:
df.Species.unique()

array(['Bream', 'Roach', 'Whitefish', 'Parkki', 'Perch', 'Pike', 'Smelt'],
      dtype=object)

In [6]:
from sklearn import preprocessing

In [8]:
label_encoding = preprocessing.LabelEncoder()

In [9]:
df['Species'] = label_encoding.fit_transform(df['Species'])

In [10]:
df['Species']

0      0
1      0
2      0
3      0
4      0
      ..
154    5
155    5
156    5
157    5
158    5
Name: Species, Length: 159, dtype: int32

In [11]:
df['Species'].unique()

array([0, 4, 6, 1, 2, 3, 5])

In [12]:
df.head()

   Species  Length1  Length2  Length3   Height   Width  Weight
0        0     23.2     25.4     30.0  11.5200  4.0200   242.0
1        0     24.0     26.3     31.2  12.4800  4.3056   290.0
2        0     23.9     26.5     31.1  12.3778  4.6961   340.0
3        0     26.3     29.0     33.5  12.7300  4.4555   363.0
4        0     26.5     29.0     34.0  12.4440  5.1340   430.0