In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Fish.csv')

In [3]:
df.head()

  Species  Length1  Length2  Length3   Height   Width  Weight
0   Bream     23.2     25.4     30.0  11.5200  4.0200   242.0
1   Bream     24.0     26.3     31.2  12.4800  4.3056   290.0
2   Bream     23.9     26.5     31.1  12.3778  4.6961   340.0
3   Bream     26.3     29.0     33.5  12.7300  4.4555   363.0
4   Bream     26.5     29.0     34.0  12.4440  5.1340   430.0

In [4]:
from sklearn.preprocessing import LabelEncoder

In [5]:
le = LabelEncoder()

In [6]:
df['Species'] = le.fit_transform(df['Species'])

In [7]:
df.head()

   Species  Length1  Length2  Length3   Height   Width  Weight
0        0     23.2     25.4     30.0  11.5200  4.0200   242.0
1        0     24.0     26.3     31.2  12.4800  4.3056   290.0
2        0     23.9     26.5     31.1  12.3778  4.6961   340.0
3        0     26.3     29.0     33.5  12.7300  4.4555   363.0
4        0     26.5     29.0     34.0  12.4440  5.1340   430.0

In [8]:
X= df.iloc[:,1:]
y =df.iloc[:,:1]

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
x_train,x_test,y_train,y_test = train_test_split(X,y,test_size = 1/3, random_state = 42)

In [11]:
from sklearn.linear_model import LogisticRegression

In [19]:
lr = LogisticRegression(solver='liblinear',random_state=0)

In [20]:
lr.fit(x_train,y_train)

C:\Users\chiwa\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

LogisticRegression(random_state=0, solver='liblinear')

In [21]:
y_pred = lr.predict(x_test)

In [16]:
from sklearn.metrics import accuracy_score , confusion_matrix

In [17]:
print(accuracy_score(y_pred,y_test))
print(confusion_matrix(y_pred,y_test))

0.7358490566037735
[[14  2  0  0  0  0  0]
 [ 0  0  0  0  0  0  0]
 [ 0  0 17  4  3  0  3]
 [ 0  0  0  1  0  0  0]
 [ 0  1  1  0  1  0  0]
 [ 0  0  0  0  0  6  0]
 [ 0  0  0  0  0  0  0]]