In [30]:
import pandas as pd
import numpy as np

In [31]:
df = pd.read_csv('Fish.csv')

In [32]:
df.head()

  Species  Length1  Length2  Length3   Height   Width  Weight
0   Bream     23.2     25.4     30.0  11.5200  4.0200   242.0
1   Bream     24.0     26.3     31.2  12.4800  4.3056   290.0
2   Bream     23.9     26.5     31.1  12.3778  4.6961   340.0
3   Bream     26.3     29.0     33.5  12.7300  4.4555   363.0
4   Bream     26.5     29.0     34.0  12.4440  5.1340   430.0

In [33]:
df['Species'].unique()

array(['Bream', 'Roach', 'Whitefish', 'Parkki', 'Perch', 'Pike', 'Smelt'],
      dtype=object)

In [34]:
from sklearn.preprocessing import OneHotEncoder

In [36]:
df1= ohe.fit_transform(df[['Species']]).toarray()

In [35]:
ohe = OneHotEncoder()

In [37]:
df1 = pd.DataFrame(df1, columns = ['Bream','Roach','Whitefish','Parkki','Perch','Pike','Smelt'])

In [38]:
df1.head()

   Bream  Roach  Whitefish  Parkki  Perch  Pike  Smelt
0    1.0    0.0        0.0     0.0    0.0   0.0    0.0
1    1.0    0.0        0.0     0.0    0.0   0.0    0.0
2    1.0    0.0        0.0     0.0    0.0   0.0    0.0
3    1.0    0.0        0.0     0.0    0.0   0.0    0.0
4    1.0    0.0        0.0     0.0    0.0   0.0    0.0