In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Fish.csv')

In [3]:
df.head()

  Species  Length1  Length2  Length3   Height   Width  Weight
0   Bream     23.2     25.4     30.0  11.5200  4.0200   242.0
1   Bream     24.0     26.3     31.2  12.4800  4.3056   290.0
2   Bream     23.9     26.5     31.1  12.3778  4.6961   340.0
3   Bream     26.3     29.0     33.5  12.7300  4.4555   363.0
4   Bream     26.5     29.0     34.0  12.4440  5.1340   430.0

In [4]:
from sklearn.preprocessing import LabelEncoder

In [5]:
le = LabelEncoder()

In [6]:
df['Species']  = le.fit_transform(df['Species'])

In [7]:
df.head()

   Species  Length1  Length2  Length3   Height   Width  Weight
0        0     23.2     25.4     30.0  11.5200  4.0200   242.0
1        0     24.0     26.3     31.2  12.4800  4.3056   290.0
2        0     23.9     26.5     31.1  12.3778  4.6961   340.0
3        0     26.3     29.0     33.5  12.7300  4.4555   363.0
4        0     26.5     29.0     34.0  12.4440  5.1340   430.0

In [124]:
X = df.iloc[:,1:].values
y = df.iloc[:,:1].values

In [125]:
from sklearn.model_selection import train_test_split

In [126]:
X_train,X_test,y_train,y_test = train_test_split(X,y, test_size=1/3,random_state=42)

In [127]:
from sklearn.preprocessing import StandardScaler

In [128]:
sc = StandardScaler()

In [129]:
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [130]:
from sklearn.decomposition import PCA

In [131]:
pca = PCA()
X_train = pca.fit_transform(X_train)
X_test = pca.transform(X_test)

In [132]:
pca.explained_variance_ratio_

array([8.71287432e-01, 9.15584909e-02, 2.08283010e-02, 1.59973809e-02,
       2.90107505e-04, 3.82874347e-05])

In [133]:
from sklearn.ensemble import RandomForestClassifier

In [134]:
rfc =RandomForestClassifier()

In [119]:
from sklearn.metrics import accuracy_score, confusion_matrix

In [106]:
pca = PCA(1)
X_train= pca.fit_transform(X_train)
X_test = pca.transform(X_test)
rfc.fit(X_train,y_train)
y_pred = rfc.predict(X_test)
print(accuracy_score(y_test,y_pred))
print(confusion_matrix(y_test,y_pred))

C:\Users\chiwa\AppData\Local\Temp/ipykernel_5020/2306010232.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rfc.fit(X_train,y_train)

0.4716981132075472
[[7 0 5 1 1 0 0]
 [0 1 1 0 1 0 0]
 [1 3 6 2 5 0 1]
 [0 0 1 3 1 0 0]
 [0 1 1 0 2 0 0]
 [0 0 0 0 0 6 0]
 [2 0 0 0 1 0 0]]

In [120]:
pca = PCA(2)
X_train= pca.fit_transform(X_train)
X_test = pca.transform(X_test)
rfc.fit(X_train,y_train)
y_pred = rfc.predict(X_test)
print(accuracy_score(y_test,y_pred))
print(confusion_matrix(y_test,y_pred))

C:\Users\chiwa\AppData\Local\Temp/ipykernel_5020/1676890213.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rfc.fit(X_train,y_train)

0.7924528301886793
[[14  0  0  0  0  0  0]
 [ 0  3  0  0  0  0  0]
 [ 0  0 13  0  5  0  0]
 [ 0  0  0  5  0  0  0]
 [ 0  0  3  0  1  0  0]
 [ 0  0  0  0  0  6  0]
 [ 0  0  1  0  2  0  0]]

In [135]:
pca = PCA(4)
X_train= pca.fit_transform(X_train)
X_test = pca.transform(X_test)
rfc.fit(X_train,y_train)
y_pred = rfc.predict(X_test)
print(accuracy_score(y_test,y_pred))
print(confusion_matrix(y_test,y_pred))

C:\Users\chiwa\AppData\Local\Temp/ipykernel_5020/2722410336.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rfc.fit(X_train,y_train)

0.8679245283018868
[[14  0  0  0  0  0  0]
 [ 0  3  0  0  0  0  0]
 [ 0  0 15  0  3  0  0]
 [ 0  0  0  5  0  0  0]
 [ 0  0  1  0  3  0  0]
 [ 0  0  0  0  0  6  0]
 [ 0  0  1  0  2  0  0]]