In [13]:
import pandas as pd

In [14]:
df = pd.read_csv('Fish.csv')

In [15]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['Species'] = le.fit_transform(df['Species'])

In [16]:
df.head()

   Species  Length1  Length2  Length3   Height   Width  Weight
0        0     23.2     25.4     30.0  11.5200  4.0200   242.0
1        0     24.0     26.3     31.2  12.4800  4.3056   290.0
2        0     23.9     26.5     31.1  12.3778  4.6961   340.0
3        0     26.3     29.0     33.5  12.7300  4.4555   363.0
4        0     26.5     29.0     34.0  12.4440  5.1340   430.0

In [17]:
df.drop(['Length2','Length3'],axis=1,inplace= True)

In [22]:
df.head()

   Species  Length1   Height   Width  Weight
0        0     23.2  11.5200  4.0200   242.0
1        0     24.0  12.4800  4.3056   290.0
2        0     23.9  12.3778  4.6961   340.0
3        0     26.3  12.7300  4.4555   363.0
4        0     26.5  12.4440  5.1340   430.0

In [23]:
X = df.iloc[:,1:]
y = df.iloc[:,:1]
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size= .2,random_state= 42)

In [24]:
from sklearn.svm import SVC

In [25]:
from sklearn.metrics import accuracy_score, confusion_matrix

In [30]:
clf_1 = SVC(kernel = 'sigmoid')
clf_1.fit(X_train,y_train)
y_pred = clf_1.predict(X_test)
print(accuracy_score(y_pred,y_test))
print(confusion_matrix(y_pred,y_test))

0.4375
[[7 0 0 0 0 0 0]
 [0 0 0 0 0 0 0]
 [2 1 7 2 1 0 2]
 [0 0 0 0 0 0 0]
 [1 0 2 1 0 5 1]
 [0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0]]

C:\Users\chiwa\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)